<a href="https://colab.research.google.com/github/spyralspy01/NLP-sentiment-analysis/blob/sentiment_analysis_anything_goes_implementation/sentiment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [230]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB,MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import roc_auc_score

In [231]:
df=pd.read_csv('train-v2.tsv',sep='\t',header=None)
df.head()

   0                                                  1
0  0  @USER @USER a sicrhau bod mwy o arian poced 'd...
1  1  Parti Dolig da gyda tim swyddfa canolog @USER ...
2  0               @USER yeaah ma fe yn wir. ( oh well.
3  1               @USER hahaha idk. 3am oedd y bws ti?
4  0                      @USER dwim yn gal llun ohoni?

In [232]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78609 entries, 0 to 78608
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       78609 non-null  int64
 1   1       78609 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.2+ MB

                  0
count  78609.000000
mean       0.500312
std        0.500003
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000

In [233]:
df.columns = ['index','welsh tweets']
df.head()

   index                                       welsh tweets
0      0  @USER @USER a sicrhau bod mwy o arian poced 'd...
1      1  Parti Dolig da gyda tim swyddfa canolog @USER ...
2      0               @USER yeaah ma fe yn wir. ( oh well.
3      1               @USER hahaha idk. 3am oedd y bws ti?
4      0                      @USER dwim yn gal llun ohoni?

In [234]:
#removing @USER
df['welsh tweets'] = df['welsh tweets'].str.replace(r'@USER', '')

In [235]:
#removing URL
df['welsh tweets'] = df['welsh tweets'].str.replace(r'URL', '')

In [236]:
# dropping duplicate elements
df = df.drop_duplicates()

In [237]:
vectorizer = CountVectorizer(min_df=10)
label = vectorizer.fit_transform(df['welsh tweets'])
index = df['index']

In [238]:
x_train, x_test, y_train, y_test = train_test_split(label,index, test_size=0.5)

In [239]:
naivebayes_bernoulli = BernoulliNB()
naivebayes_bernoulli.fit(x_train.toarray(), y_train)

BernoulliNB()

In [240]:
naivebayes_multinomial = MultinomialNB()
naivebayes_multinomial.fit(x_train.toarray(), y_train)

MultinomialNB()

In [241]:
lr = LogisticRegression(max_iter=1000)
lr.fit(x_train, y_train)

LogisticRegression(max_iter=1000)

In [242]:
nbbpredict = naivebayes_bernoulli.predict(x_test.toarray())

In [243]:
nbmpredict = naivebayes_multinomial.predict(x_test.toarray())

In [244]:
lrpredict = lr.predict(x_test.toarray())

In [245]:
x_prob = lr.predict_proba(x_test)

In [246]:
print(metrics.classification_report(y_test,nbmpredict))

              precision    recall  f1-score   support

           0       0.72      0.73      0.73     19497
           1       0.73      0.72      0.72     19558

    accuracy                           0.72     39055
   macro avg       0.72      0.72      0.72     39055
weighted avg       0.72      0.72      0.72     39055

In [247]:
print(metrics.classification_report(y_test,nbbpredict))

              precision    recall  f1-score   support

           0       0.72      0.73      0.73     19497
           1       0.73      0.73      0.73     19558

    accuracy                           0.73     39055
   macro avg       0.73      0.73      0.73     39055
weighted avg       0.73      0.73      0.73     39055

In [248]:
print(metrics.classification_report(y_test,lrpredict))
print(roc_auc_score(y_test, x_prob[:, 1]))

              precision    recall  f1-score   support

           0       0.73      0.72      0.73     19497
           1       0.73      0.73      0.73     19558

    accuracy                           0.73     39055
   macro avg       0.73      0.73      0.73     39055
weighted avg       0.73      0.73      0.73     39055

0.8003412053035678